<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <div class="popup_container"> <div class="panel">{{ message }}</div> </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<script type="text/javascript" src="{{ url_for('static', filename='js/greet.js') }}"></script>

<div class="input_panel" id="login_panel">
    <span id="input_panel_title">Search for an Item</span>
    <form method="POST" action="/search">
        <input type="text" name="item_name" placeholder="Enter Name for Search:">
        <button type="submit" value="Submit">Search</button>
    </form>
    {% if results %}
      <div>
        <div style="display: flex; justify-content: center;">
          <span style="margin-right: 40px;">Name</span>
          <span style="margin-right: 60px; margin-left: 60px;">Category</span>
          <span style="margin-left: 40px;">Price</span>
        </div>
        <div style="display: flex; justify-content: center;">
          <span style="margin-right: 40px;">{{ results[0] }}</span>
          <span style="margin-right: 60px; margin-left: 60px;">{{ results[1] }}</span>
          <span style="margin-left: 40px;">{{ results[2] }}</span>
        </div>
      </div>
    {% endif %}
    {% if noitem %}
      <div>
        <h3>No item with name: {{ noitem|safe }}</h3>
      </div>
    {% endif %}
</div>
</body>
</html>